.nav-item {
    width: 100%;
    white-space: nowrap;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 2px 0px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}